:root{
    --scalableSize: 1.1;
    --maxPriorityContainer: 100;
    --minPriorityContainer: 0;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.sign-in-container{
    background-image: url('../assets/backgorundSignin.png');
    background-size: cover;
    background-position: center;

    height: 100vh;
    width: 100vw;
    filter: contrast(80%);
}

.sign-up-container{
    background-image: url('../assets/backgorundSignup.png');
    background-size: cover;
    background-position: center;

    height: 100vh;
    width: 100vw;
    filter: contrast(80%);
}


.profile-management-container{
    background-image: url('../assets/backgroundMyProfile.png');
    background-size: cover;
    background-position: center;

    height: 100vh;
    width: 100vw;
    filter: contrast(80%);
}

.search-container{
    background-image: url('../assets/backgroundSearchReport.png');
    background-size: cover;
    background-position: center;

    height: 100vh;
    width: 100vw;
    filter: contrast(80%);

}




.logo-size{
    width: 300px;
    height: 50px;
}


.search-report-container {
    position: absolute;
    top: 30%;
    left: 10%;
}


.modifiable {
    padding-top: 150px;
    width: 1200px;
    margin: 0 auto;
}


.footer-manager{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.toolbar-manager{
    position: fixed;
    width: 100%;
    z-index: var(--maxPriorityContainer);
}

.schedule-img{
    width: 500px;
    height: 70px;
}



.router-style{
    color:white;
    text-decoration: none;
}


.sign-in-options{
    margin-top: 15%;
    display: grid;
    gap: 30px;
    justify-content: center;
    padding: 40px;
    width: 100%;
}
.sign-up-options{
    display: grid;
    place-items: center;
    gap: 10px;
    margin-top: 10%;
}


.not-sign-in-container{
    background-image: url('../assets/backgroundSearchReport.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    filter: contrast(60%);
}

.not-sign-in-container h1{
    margin-top: 400px;
}
small {
    text-align: center;
}

.profile-manager{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap:2rem;

}
.profile-section{
    display: grid;
    place-items: center;
    padding: 100px;
}


li:nth-child(1):hover{
    color: limegreen;
    cursor: pointer;
    scale: var(--scalableSize);
    transition: 1s ease all;
}


@media (width <= 768px) {
    .search-report-container{
        width: 80%;
    }

    .pdf-screen-manager{
        width: 300px;
    }

    .modifiable{
        font-size: 10px;
    }

    .forms-manager{
        width: 100%;
    }
    .logo-size{
        width: 100px;
        height: 30px;
    }
    .schedule-img{
        width: 300px;
        height: 50px;
    }

}





@media (width<= 550px){
    .sign-in-options{
        margin-top: 35%;
    }

    .sign-up-options{
        margin-top: 30%;
    }
    .schedule-img{
        width: 250px;
        height: 50px;
    }

}


@media(width <=420px){
    .sign-in-scalable-size{
        width : 100%
    }
    .sign-in-options{
       margin-right:80%;
    }
    .schedule-img{
        width: 200px;
        height: 30px;
    }

}
