:root{
    --scalableSize: 1.1;
    --maxPriorityContainer: 100;
    --minPriorityContainer: 0;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.report-section-btn{
    width: 100px;
    height: 35px;
}


.search-report-details-container{
    padding-top: 200px;
    display: grid;
    gap: 20px;
    place-items: center;
}

.custom-btn-size{
    width: 250px;
}


.sign-in-container{
    background-image: url('../assets/backgorundSignin.png');
    background-size: cover;
    background-position: center;

    height: 100vh;
    width: 100vw;
    filter: contrast(80%);
}

.sign-up-container{
    background-image: url('../assets/backgorundSignup.png');
    background-size: cover;
    background-position: center;

    height: 100vh;
    width: 100vw;
    filter: contrast(80%);
}

.unauthorized-container{
    padding-top: 300px;
}

.chart-container-bars{
    margin: 0 auto;
    padding-top: 200px;
    display: grid;
    gap:20px;
}

.chart-type-container{
    width: 500px;
    padding-top: 200px;
    display: grid;
    gap: 20px;
}

.profile-management-container{
    background-image: url('../assets/backgroundMyProfile.png');
    background-size: cover;
    background-position: center;

    height: 100vh;
    width: 100vw;
    filter: contrast(80%);
}

.chart-container{
    display: grid;
    place-items: center;
    gap: 20px;
    padding-top: 200px;
}

.chart-manager{
    width: 1000px;
}

.search-container{
    background-image: url('../assets/backgroundSearchReport.png');
    background-size: cover;
    background-position: center;

    height: 100vh;
    width: 100vw;
    filter: contrast(80%);

}




.logo-size{
    width: 300px;
    height: 50px;
}





.modifiable {
    padding-top: 150px;
    width: 1200px;
    margin: 0 auto;
}


.footer-manager{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.toolbar-manager{
    position: fixed;
    width: 100%;
    z-index: var(--maxPriorityContainer);
}
.toolbar-options-container{
    width: 600px;
}
.schedule-img{
    width: 500px;
    height: 70px;
}



.router-style{
    text-decoration: none;
}


.sign-in-options{
    margin-top: 15%;
    display: grid;
    gap: 30px;
    justify-content: center;
    padding: 40px;
    width: 100%;
}
.sign-up-options{
    display: grid;
    place-items: center;
    gap: 10px;
    margin-top: 10%;
}


.not-sign-in-container{
    background-image: url('../assets/backgroundSearchReport.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    filter: contrast(60%);
}

.not-sign-in-container h1{
    margin-top: 400px;
}
small {
    text-align: center;
}

.profile-manager{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap:2rem;

}
.profile-section{
    display: grid;
    place-items: center;
    padding: 100px;
}



li:nth-child(1):hover{
    color: mediumseagreen;
    cursor: pointer;
    scale: var(--scalableSize);
    transition: 1s ease all;
}

@media (width <= 1257px) {
    .pdf-screen-manager{
     height: 800px;
    }
}
@media(width<=950px){
    .pdf-screen-manager{
        height: 600px;
    }
}
@media(width<=732px){
    .pdf-screen-manager{
        height: 550px;
    }
}
@media(width<=642px){
    .pdf-screen-manager{
        height: 400px;
    }
}
@media(width<=432px){
    .pdf-screen-manager{
        height: 300px;
    }
}






@media (width <= 768px) {
    .search-report-container{
        width: 80%;
    }

    .search-report-details-table-container{
        width: 600px;
    }


    .modifiable{
        font-size: 10px;
    }

    .forms-manager{
        width: 100%;
    }
    .logo-size{
        width: 100px;
        height: 30px;
    }
    .schedule-img{
        width: 300px;
        height: 50px;
    }

}

@media(width <=974px){
    .chart-manager {
        width: 800px;
    }
    .chart-container-bars{
        width: 600px;
    }
    .chart-type-container{
        width: 400px;
    }
    .search-report-details-table-container{
        width: 800px;
    }

}

@media(width <=778px){
    .chart-manager {
        width: 600px;
    }
    .chart-container-bars{
        width: 400px;
    }
    .chart-type-container{
        width: 300px;
    }
    .search-report-details-table-container{
        width: 600px;
    }
}

@media(width <=585px){
    .chart-manager {
        width: 400px;
    }
    .chart-container-bars{
        width: 300px;
    }
    .chart-type-container{
        width: 200px;
    }
    .search-report-details-table-container{
        width: 500px;
    }

}

@media(width <= 400px){
    .chart-manager {
        width: 300px;
    }
    .chart-container-bars{
        width: 200px;
    }
    .search-report-details-table-container{
        width: 400px;
    }

}




@media (width<= 550px){
    .sign-in-options{
        margin-top: 35%;
    }

    .sign-up-options{
        margin-top: 30%;
    }
    .schedule-img{
        width: 250px;
        height: 50px;
    }

}


@media(width <=420px){
    .sign-in-options-container{
        width: 400px;
    }
    .sign-in-options{
       margin-right:80%;
    }
    .schedule-img{
        width: 200px;
        height: 30px;
    }

}

@media(width<=350px){
    .sign-in-options-container{
        width: 300px;
    }
    .sign-in-options{
        margin-right: 60%;
    }
    .schedule-img{
        width: 150px;
        height: 30px;
    }
    .search-report-details-table-container{
        width: 200px;
    }

}
